body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.footer{
	text-align: center;
}

.jumbotron{
	text-align: center;
}

#dragme{ 
	width: 150px; 
	height: 150px; 
	background-color: yellow;
}
